body
{
	background-color: lightgray;
	justify-content: center;
	align-items: left;
}

label
{
	display: inline-block;
	color: black;
}

input
{
	width: 10%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

input[type="submit"]:hover
{
	background-color: blue;
	color: white;
}