body
{
	background-color: lightblue;
	justify-content: center;
	align-items: left;
}

label
{
	display: inline-block;
	color: black;
}

input
{
	width: 10%;
	padding: 10px;
	border: 1px solid rgb(255, 255, 128);
	border-radius: 5px;
	font-size: 14px;
}

button
{
	background:white
}

button:hover
{
	background:pink
}