body
{
	background-color:lightyellow;
}

h1
{
	color:#800080;
	font-size: 35px;
}

h2
{
	color:#8080c0;
}

img
{
	border-radius: 20px;
}

label
{
	display: inline-block;
	color: black;
	font-size: 20px;
}

input
{
	width: 10%;
	padding: 10px;
	border-color:lightblue;
	border-radius: 20px;
	font-size: 20px;
}

button
{
	background:white;
	font-size: 15px;
}

button:hover
{
	background:pink;
}

select
{
	color: red;
	font-size: 20px;
}