body
{
	background-color: #b5f4ce;
	font-family: Arial, sans-serif;
	margin: 30px;
	text-align:left;
}

input
{
	width: 10%;
	margin: 5px;
	padding:6px;
	border-radius: 20px;
}

button
{
	margin: 10px 5px;
	padding: 8px 15px;
	background-color: #0078d7;
	color: white;
	border: none;
	border-radius:5px;
	cursor:pointer;
}

button:hover
{
	background-color: #0000ff;
}