body
{
	background-color: #c0b8e4;
	text-align: center;
}

h1
{
	color:#800080;
	font-size: 35px;
	font-family: Arial;
}

label
{
	display: inline-block; /* flows in line*/
	color: black;
	font-size: 20px;
}

input
{
	width: 20%;
	padding: 10px; /* size of the input box*/
	border-color:#000000;
	border-radius: 20px;
	font-size: 20px;
}

button
{
	background:white;
	font-size: 15px;
}

button:hover
{
	background:#0080ff;
}

select
{
	color:red;
  	padding: 10px;
 	background-color: #ffffff;
  	border: 2px solid #000000;
  	border-radius: 20px;
  	width: 20%;
  	font-family: Arial;
  	font-size: 20px;
}